# No subimos los modulos de node
node_modules/

# No subimos la carpeta de .vscode
.vscode/

# No subimos el .env
.env

# Ignoramos las imágenes subidas
# ignoramos las imagenes de los productos
uploads/productos/**.*
uploads/usuarios/**.*
